/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-cache-fixture
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
/public_html
/src/common/test/test_downloads/*
/src/common/test/firefox_profile
/dist/
.DS_Store
*.log
.idea
.vscode
.eslintcache
package-lock.json



/WhisperNote/node_modules/
/WhisperNote/dist/*
/WhisperNote/public_html/*
/WhisperNote/doc/*
/WhisperNote/src/tests/test_downloads/*
/WhisperNote/npm-debug.log
/WhisperNote/imgs/Thumbs.db

/EveryPass/node_modules/
/EveryPass/dist/*
/EveryPass/public_html/*
/EveryPass/doc/*
/EveryPass/npm-debug.log
/EveryPass/imgs/Thumbs.db
/EveryPass/tests/test_downloads/*

/common/imgs/Thumbs.db
/common/node_modules/
/common/test/firefox_profile/