/WhisperNote/nbproject/private/
/WhisperNote/node_modules/
/WhisperNote/dist/*
/WhisperNote/public_html/*
/WhisperNote/doc/*
/WhisperNote/npm-debug.log
/WhisperNote/imgs/Thumbs.db

/EveryPass/node_modules/
/EveryPass/dist/*
/EveryPass/nbproject/private/
/EveryPass/public_html/*
/EveryPass/doc/*
/EveryPass/npm-debug.log
/EveryPass/imgs/Thumbs.db

/common/nbproject/private/private.xml
/common/imgs/Thumbs.db
/common/node_modules/
/common/test/firefox_profile/