/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-cache-fixture
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
/public_html
/src/common/test/test_downloads/*
/src/common/test/firefox_profile
/dist/
.DS_Store
*.log
.idea
.vscode
.eslintcache
package-lock.json



/whispernote/node_modules/
/whispernote/dist/*
/whispernote/doc/*
/whispernote/public_html/*
/whispernote/src/tests/test_downloads/*
/whispernote/npm-debug.log
/whispernote/imgs/Thumbs.db

/everypass/node_modules/
/everypass/dist/*
/everypass/doc/*
/everypass/public_html/*
/everypass/npm-debug.log
/everypass/imgs/Thumbs.db
/everypass/tests/test_downloads/*

/common/imgs/Thumbs.db
/common/node_modules/
/common/test/firefox_profile/