/*! Custom classes */

@media (max-width: 329px) {
    .srch {
        width: 90px !important;
    }
}

@media (min-width:330px) and (max-width: 359px) {
    .srch {
        width: 100px !important;
    }
}

@media (min-width:360px) and (max-width: 499px) {
    .srch {
        width: 130px !important;
    }
}

@media (min-width:500px) and (max-width: 767px) {
    .srch {
        width: 250px !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .srch {
        width: 400px !important;
    }
}
@media (min-width: 992px) and (max-width: 1199px) {
    .srch {
        width: 500px !important;
    }
}
@media (min-width: 1200px) {
    .srch {
        width: 550px !important;
    }
}

.offscreen {
	display: none; 
	position: absolute; 
	top: -100px;
}

.serif {
	font-family: Georgia, "Times New Roman", Times, serif;
}

.info {
	font-size: 2em;
}

.img-pixelated {
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	-ms-interpolation-mode: nearest-neighbor;
}

.navbar-input {
	padding-top: 10px;
}

/*! Bootstrap customizations */

body {
  padding-top: 50px;
	padding-bottom: 100px;
}

.form-group {
  margin-bottom: 4px;
}

.btn-xs {
	margin: 4px 0px;
}

.navbar-brand {
  padding: 5px 5px;
}
.nav > li > a {
  padding: 15px 7px;
}
.panel {
  margin-bottom: 10px;
}
.panel-body {
  padding: 4px;/*custom*/
}

.panel-heading {
  padding: 4px 4px;/*custom*/
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
}

.menu li a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333333;
  white-space: nowrap;
}

.menu > li > a:hover,
.menu > li > a:focus{
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.menu > .active > a,
.menu > .active > a:hover,
.menu > .active > a:focus {
  color: #ffffff;
  text-decoration: none;
  outline: 0;
  background-color: #428bca;
}