#new-entry {
    margin: 30px 0px;
}

#new-entry-header {
    text-align: center;
}

#store-empty-message {
    text-align: center;
}

#store-header {
    text-align: center;
}


body {
  padding-top: 50px;
  margin-bottom: 85px;
}   